<!DOCTYPE html>
<html lang="{{ language.language }}">
<head><link rel="icon" href="{{ directory }}/img/favicon.svg" type="image/x-icon">
<link rel="icon" href="{{ directory }}/img/favicon.svg" type="image/svg+xml">
  {{ attach_library('classy/base') }}
  {{ page_head }}
  <title>{{ head_title }}</title>
  {{ page_head_closing }}
</head>
<body{{ attributes }}>
  <header class="header">
            <div class="container">
            <div class="header__wrap">
                <div class="header__logo"><img src="/themes/custom/altecon/img/Altecon_металлообработка1.png" alt="">
                </div>
                <nav class="header__nav">
                    <ul class="header__menu">
                        <li class="header__menu_list"><a href="#about" class="header__menu_link">О КОМПАНИИ</a></li>
                        <li class="header__menu_list"><a href="#services" class="header__menu_link">УСЛУГИ</a></li>
                        <li class="header__menu_list"><a href="#products" class="header__menu_link">ПРОДУКЦИЯ</a></li>
                        <li class="header__menu_list"><a href="#partners" class="header__menu_link">НАМ ДОВЕРЯЮТ</a>
                        </li>
                        <li class="header__menu_list"><a href="#contacts" class="header__menu_link">КОНТАКТЫ</a></li>

                    </ul>

                </nav>
                <div class="header__contacts">
                    <a href="tel:+7 (902)5834968" class="header__number"><svg
                            class="svg-inline--fa fa-mobile-alt fa-w-10" aria-hidden="true" data-prefix="fas"
                            data-icon="mobile-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                            data-fa-i2svg="" style="width: 15px; height: 15px;">
                            <path fill="currentColor"
                                d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z">
                            </path>
                        </svg><span>+7 (902) 583-49-68</span></a>
                    <a href="mailto:info@altecon.ru" class="header__mail"><svg
                            class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true" data-prefix="far"
                            data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                            data-fa-i2svg="" style="width: 15px; height: 15px;">
                            <path fill="currentColor"
                                d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z">
                            </path>
                        </svg><span>info@altecon.ru</span></a>
                </div>
                <div class="header__burger"></div>
            </div>
        </div>
  </header>
   <section class="main">
   {{ page.content }}
        <div class="container">
            `<div class="main__banner">
                <h1 class="h1 _anim-items">Компания «ALTECON»<br>
                    <span>Металлообработка</span>
                </h1>
                <div class="advantages">
                    <div class="advantages_container">
                        <div class="advantages__item">
                            <img src="/themes/custom/altecon/img/advantages1.svg" alt="">
                            <div>Современное оборудование</div>
                        </div>
                        <div class="advantages__item">
                            <img src="/themes/custom/altecon/img/advantages2.svg" alt="">
                            <div>Проектирование и 3D моделирование</div>
                        </div>
                        <div class="advantages__item">
                            <img src="/themes/custom/altecon/img/advantages3.svg" alt="">
                            <div>Высококвалифицированные специалисты</div>
                        </div>
                        <div class="advantages__item">
                            <img src="/themes/custom/altecon/img/advantages4.svg" alt="">
                            <div>Доставка по РФ</div>
                        </div>

                    </div>
                    <div class="anchor" id="about"></div>

                </div>
            </div>
        </div>
    </section>
    <section class="mobail__banner">
    {{ page.content }}
         <div class="container">
             `<div class="mobail__title">
                 <h1 class="h1 _anim-items">Компания «ALTECON»<br>
                     <span>Металлообработка</span>
                 </h1>
                </div>
                 <div class="advantages">
                     <div class="advantages_container">
                         <div class="advantages__item">
                             <img src="/themes/custom/altecon/img/advantages1.svg" alt="">
                             <div>Современное оборудование</div>
                         </div>
                         <div class="advantages__item">
                             <img src="/themes/custom/altecon/img/advantages2.svg" alt="">
                             <div>Проектирование и 3D моделирование</div>
                         </div>
                         <div class="advantages__item">
                             <img src="/themes/custom/altecon/img/advantages3.svg" alt="">
                             <div>Высококвалифицированные специалисты</div>
                         </div>
                         <div class="advantages__item">
                             <img src="/themes/custom/altecon/img/advantages4.svg" alt="">
                             <div>Доставка по РФ</div>
                         </div>
 
                     </div>
                     <div class="anchor" id="about"></div>
 
                 </div>
             
         </div>
     </section>

    <section class="about _anim-items _anim-hiden">
        <div class="container">
            <div class="about__wrap">
                <div class="about__left">
                    <a href="https://altecon.ru/" class="about__logo_link"><img
                            src="/themes/custom/altecon/img/Altecon_строительная компания.png" alt=""
                            class="about__logo_img"></a>
                    <a href="https://altecon.pro/" class="about__logo_link"><img
                            src="/themes/custom/altecon/img/Altecon_светопрозрачные конструкции.png" alt=""
                            class="about__logo_img"></a>
                </div>
                <div class="about__right">
                    <h2 class="h2">Компания ALTECON</h2>
                    <p>ALTECON Металлоконструкции – часть группы компаний, в которую входят ALTECON Строительная
                        компания и ALTECON Светопрозрачные конструкции.</p><p>ALTECON Металлоконструкции производит мебельную
                        фурнитуру для одной из крупнейших компаний мебельной индустрии в России BOYARD. Наши
                        металлоконструкции - это центральная лестница в знаменитом здании штаб-квартиры Русской Медной
                        Компании в г. Екатеринбург от архитектурного бюро Foster+Partners" и другие проекты.</p>
                </div>
            </div>
            <div class="anchor" id="services"></div>
        </div>
    </section>
    <section class="services _anim-items _anim-hiden">
        <div class="container">
            <h2 class="h2">УСЛУГИ</h2>
            <div class="services__wrap">
                <div class="services__item">
                    <div class="services__item_image"><img src="/themes/custom/altecon/img/Услуги/Лазерная резка.jpg"
                            alt="" class="services__item_img" loading="lazy"></div>
                    <div class="services__item_name">Лазерная резка до 10 мм (металл Ст3)</div>
                </div>
                <div class="services__item">
                    <div class="services__item_image"><img src="/themes/custom/altecon/img/Услуги/Гибка.jpg" alt=""
                            class="services__item_img">
                    </div>
                    <div class="services__item_name">Гибка до 4 мм (металл Ст3)</div>
                </div>
                <div class="services__item">
                    <div class="services__item_image"><img
                            src="/themes/custom/altecon/img/Услуги/Полуавтоматическая сварка.jpg" alt=""
                            class="services__item_img"></div>
                    <div class="services__item_name">Полуавтоматическая сварка</div>
                </div>
                <div class="services__item">
                    <div class="services__item_image"><img src="/themes/custom/altecon/img/Услуги/Лазерная сварка.jpg"
                            alt="" class="services__item_img"></div>
                    <div class="services__item_name">Лазерная сварка до 3 мм (металл Ст3)</div>
                </div>
                <div class="services__item">
                    <div class="services__item_image"><img
                            src="/themes/custom/altecon/img/Услуги/Порошковая покраска.jpg" alt=""
                            class="services__item_img"></div>
                    <div class="services__item_name">Лазерная сварка до 3 мм (металл Ст3)</div>
                </div>

            </div>
            <div class="anchor" id="products"></div>

        </div>
        </div>
    </section>
    <section class="products _anim-items _anim-hiden">
        <div class="container">
            <h2 class="h2">ПРОДУКЦИЯ</h2>
            <div class="products__wrap">
                <div class="products__item">
                    <a class="products__item_link" data-fancybox href="#hidden1">Мебельная фурнитура<span
                            class="iconstr"></span></a>
                    <div style="display: none; width: 500px;" id="hidden1">
                        <div class="f-carousel" id="myCarousel1">
                            <div class="f-carousel__viewport">
                                <div class="f-carousel__track">
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Мебельная фурнитура/1.jpg" />
                                        <span class="products__name">Мебельная фурнитура</span>
                                    </div>
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Мебельная фурнитура/2.jpg" />
                                        <span class="products__name">Мебельная фурнитура</span>
                                    </div>
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Мебельная фурнитура/3.jpg" />
                                        <span class="products__name">Мебельная фурнитура</span>
                                    </div>
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Мебельная фурнитура/4.jpg" />
                                        <span class="products__name">Мебельная фурнитура</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products__item">
                    <a class="products__item_link" data-fancybox href="#hidden2">Лофтовая мебель/межкомнатные
                        перегородки-двери<span class="iconstr"></span></a>
                    <div style="display: none; width: 500px;" id="hidden2">
                        <div class="f-carousel" id="myCarousel2">
                            <div class="f-carousel__viewport">
                                <div class="f-carousel__track">
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Лофтовая мебельмежкомнатные перегородки-двери/Металл_двери_Ресторан_Корова.JPG" />
                                        <span class="products__name">Лофтовая мебель/межкомнатные
                                            перегородки-двери</span>
                                    </div>
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Лофтовая мебельмежкомнатные перегородки-двери/Раздвижная перегородка.jpg" />
                                        <span class="products__name">Лофтовая мебель/межкомнатные
                                            перегородки-двери</span>
                                    </div>
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Лофтовая мебельмежкомнатные перегородки-двери/Стойка.JPG" />
                                        <span class="products__name">Лофтовая мебель/межкомнатные
                                            перегородки-двери</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products__item">
                    <a class="products__item_link" data-fancybox href="#hidden3">Металлоконструкции<span
                            class="iconstr"></span></a>
                    <div style="display: none; width: 500px;" id="hidden3">
                        <div class="f-carousel" id="myCarousel3">
                            <div class="f-carousel__viewport">
                                <div class="f-carousel__track">
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Подраздел Металлоконструкции/Gold'sGym_лестница (2).JPG" />
                                        <span class="products__name">Металлоконструкции</span>
                                    </div>
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Подраздел Металлоконструкции/Лестница_Штаб-Квартира РМК.jpg" />
                                        <span class="products__name">Металлоконструкции</span>
                                    </div>
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Подраздел Металлоконструкции/Металлоконструкции_ресторан_Большой_Грузинский.JPG" />
                                        <span class="products__name">Металлоконструкции</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="products__item">
                    <a class="products__item_link" data-fancybox href="#hidden4">Опоры<span class="iconstr"></span></a>
                    <div style="display: none; width: 500px;" id="hidden4">
                        <div class="f-carousel" id="myCarousel4">
                            <div class="f-carousel__viewport">
                                <div class="f-carousel__track">
                                    <div class="f-carousel__slide"><img class="img"
                                            src="/themes/custom/altecon/img/Раздел Продукция Опоры/Опоры.jpg" />
                                        <span class="products__name">Опоры</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="anchor" id="partners"></div>

    </section>
    <section class="partners _anim-items _anim-hiden">
        <div class="container">
            <h2 class="h2">Нам доверяют</h2>
            <div class="partners__wrap">
                <div class="partners__item"></div>
                <div class="partners__item"></div>
                <div class="partners__item"></div>
            </div>
        </div>
        <div class="anchor" id="contacts"></div>

    </section>
    <section class="contacts _anim-items _anim-hiden">
        <h2 class="h2">КОНТАКТЫ</h2>
        <div class="contacts__item">
            <div class="container">
                <span class="address">Офис <span style="color: #de2021;">ALTECON</span>: 620041, Свердловская область,
                    Екатеринбург, Кислородная улица, 8Ж</span>
            </div>
            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac6d7c56b798ad75c57f2d415ae7f8585d75fc385250449b52d0b3a008b09c4e7&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>

        </div>

        <div class="contacts__item">
            <div class="container">
                <span class="address">Цех <span style="color: #de2021;">ALTECON</span>: 624003, Свердловская область,
                    Арамиль,
                    Трудовая улица, 20 </span>
            </div>
            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa929162bb9d6576e13805033d6a19d3726eb1076092626a3e30767d34ef59032&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
        </div>
    </section>
  <footer class="footer">
    <div class="container">
            <div class="footer__wrap">
                <div class="footer__logo"><img src="/themes/custom/altecon/img/Altecon_металлообработка1.png" alt="">
                </div>
                <ul class="footer__menu">
                    <li class="footer__menu_item"><a href="" class="footer__menu_link">услуги</a></li>
                    <li class="footer__menu_item"><a href="" class="footer__menu_link">Продукция</a></li>
                    <li class="footer__menu_item"><a href="" class="footer__menu_link">нам доверяют</a></li>
                    <li class="footer__menu_item"><a href="" class="footer__menu_link">контакты</a>
                        <ul class="footer__sub-menu">
                            <li class="footer__sub-menu_item"><a href="https://yandex.ru/maps/-/CDckBAIC"
                                    class="footer__sub-menu_link"><svg class="svg-inline--fa fa-map-marker-alt fa-w-12"
                                        aria-hidden="true" data-prefix="fas" data-icon="map-marker-alt" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""
                                        style="width: 15px; height: 15px;">
                                        <path fill="currentColor"
                                            d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
                                        </path>
                                    </svg><span>Екатеринбург, Кислородная улица, 8Ж</span></a></li>
                            <li class="footer__sub-menu_item"><a href="tel:+7 (902)5834968"
                                    class="footer__sub-menu_link"><svg class="svg-inline--fa fa-mobile-alt fa-w-10"
                                        aria-hidden="true" data-prefix="fas" data-icon="mobile-alt" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""
                                        style="width: 15px; height: 15px;">
                                        <path fill="currentColor"
                                            d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z">
                                        </path>
                                    </svg><span>+7 (902) 583-49-68</span></a></li>
                            <li class="footer__sub-menu_item"><a href="mailto:info@altecon.ru"
                                    class="footer__sub-menu_link"><svg class="svg-inline--fa fa-envelope fa-w-16"
                                        aria-hidden="true" data-prefix="far" data-icon="envelope" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""
                                        style="width: 15px; height: 15px;">
                                        <path fill="currentColor"
                                            d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z">
                                        </path>
                                    </svg><span>info@altecon.ru</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer__copy">
                <div class="footer__copy_left">© 2024, <span
                        style="color: #de2021; font-weight: 500;">&laquo;ALTECON&raquo; - Металлообработка и
                        производство
                        металлоизделий</span>
                </div>
                <div class="footer__copy_right">Обращаем ваше внимание на то, что информация интернет-сайта
                    altecon-metall.ru носит исключительно информационный характер и не является публичной офертой,
                    определяемой положениями ст. 437 ГК РФ.</div>
            </div>
        </div>
  </footer>
  
  {{ page_bottom }}
</body>
</html>
